<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Claim Data</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'claimData.css' %}">
</head>
<body>
    {% include 'myapp/navbar2.html' %}

    <br><br>

    <div class="side-nav">
        <button onclick="showContent('content2')">Blank Loss Date</button>
        <button onclick="showContent('content4')">Negative Claims</button>
        <button onclick="showContent('content5')">1 to Many Mapping Claims</button>
        <button onclick="showContent('content6')">Orphan Claims</button>
    </div>

    <div class="content">
        <div id="initial-content" class="data" style="display: block;">
            <h1>Data Summary</h1>
            <table class="summary-table">
                <tr>
                    <th>Detail</th>
                    <th>Count</th>
                </tr>
                <tr>
                    <td>Total entries</td>
                    <td>{{ Total_Entries1 }}</td>
                </tr>
                <tr>
                    <td>Number ClaimPaid NaN Entries Removed</td>
                    <td>{{ NaN_Claim }}</td>
                </tr>
                <tr>
                    <td>Total Entries After Removal</td>
                    <td>{{ Total_after1 }}</td>
                </tr>
            </table>
            <h2>RESULTS AFTER PROCESSING</h2>
            {% if df_html %}
                <div class="table-responsive">
                    {{ df_html|safe }}
                </div>
            {% else %}
                <p>No data available to display.</p>
            {% endif %}
            <br>
            {% if download_ready %}
                <form action="{% url 'download_data' %}" method="GET">
                    <button type="submit" class="btn btn-primary">Download Data</button>
                </form>
                <br>
                <form action="{% url 'download_data_UAE' %}" method="GET">
                    <button type="submit" class="btn btn-primary">Download Data as UAE Naming Convention</button>
                </form>
            {% else %}
                <p>Data is not ready for download.</p>
            {% endif %}
            <br>
            <h2>ADDING CLAIM COUNT, PERIOD AND SUM</h2>
            <div>
                {{ grouped_df_html|safe }}
            </div>
            <br>
            <h2>CONSOLIDATION RESULTS</h2>
            <div>
                {{ new_df_html|safe }}
            </div>
            <br>
            {% if download_ready %}
                <form action="{% url 'consol_download' %}" method="GET">
                    <button type="submit" class="btn btn-primary">Download Data</button>
                </form>
            {% else %}
                <p>Data is not ready for download.</p>
            {% endif %}
        </div>
        <div id="content2" class="data">
            <p class="data-length">Number Of Null Loss Dates: {{ NullLossDate_len}}</p>
            {{ NullLossDate|safe }}
            <a href="{% url 'download_checks' %}?name=NullLossDate" class="download-btn">Download</a>
        </div>
        <div id="content4" class="data">
            <p class="data-length">Number Of Negative Claim Entries: {{ negative_claim_entries_len}}</p>
            {{ negative_claim_entries|safe }}
            <a href="{% url 'download_checks' %}?name=negative_claim_entries" class="download-btn">Download</a>
        </div>
        <div id="content5" class="data">
            <p class="data-length">Number Of One to One Map: {{ one_to_one_len}}</p>
            {{ one_to_one|safe }}
            <a href="{% url 'download_checks' %}?name=one_to_one" class="download-btn">Download</a>
        </div>
        <div id="content6" class="data">
            <p class="data-length">Orphan Claims: {{ orphan_uids_len}}</p>
            {{ orphan_claims|safe }}
            <a href="{% url 'download_checks' %}?name=orphan_claims" class="download-btn">Download</a>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Set initial state
            goBack();

            document.getElementById('premium-checks-button').addEventListener('click', function(event) {
                event.preventDefault();
                toggleSidebar();
            });
        });

        function showContent(contentId) {
            var contents = document.querySelectorAll('.content .data');
            contents.forEach(function(content) {
                content.style.display = 'none';
            });

            var selectedContent = document.getElementById(contentId);
            if (selectedContent) {
                selectedContent.style.display = 'block';
            }

            document.getElementById('initial-content').style.display = 'none';
        }

        function isSidebarOpen() {
            var sideNav = document.querySelector('.side-nav');
            return sideNav.style.left === '0px';
        }

        function toggleSidebar() {
            var sideNav = document.querySelector('.side-nav');
            var contentDivs = document.querySelector('.content');
            if (sideNav.style.left === '0px') {
                closeSidebar();
                contentDivs.style.marginLeft = '0px';
            } else {
                sideNav.style.left = '0px';
                contentDivs.style.marginLeft = '220px';
            }
        }

        function goBack() {
            closeSidebar();
            var contents = document.querySelectorAll('.content .data');
            contents.forEach(function(content) {
                content.style.display = 'none';
            });
            document.getElementById('initial-content').style.display = 'block';
        }

        function closeSidebar() {
            var sideNav = document.querySelector('.side-nav');
            var contentDivs = document.querySelector('.content');
            sideNav.style.left = '-220px';
            contentDivs.style.marginLeft = '0px';
        }
    </script>
</body>
</html>