<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Upload Claims Data Files</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'claims.css' %}">
</head>

<body>
    <!-- <div class="tab">
        <a href="{% url 'display_results' %}" class="display-results">PREMIUM RESULTS</a>
        <a href="{% url 'display_claims_results' %}" class="display-claims-results">CLAIMS RESULTS</a>
        <a href="{% url 'display_os_results' %}" class="display-os-results">OS RESULTS</a>
        <a href="{% url 'upload_and_display' %}" class="upload">UPLOAD PREMIUM FILES</a>
        <a href="{% url 'claims_file_upload' %}" class="claims-button">UPLOAD CLAIMS FILES</a>
        <a href="{% url 'os_file_upload' %}" class="claims-button">UPLOAD OS FILES</a>
        <a href="{% url 'upload_mapping' %}" class="upload_mapping">MAPPING SECTION</a>
        <a href="{% url 'mapping_upload' %}" class="mapping_upload">UPLOAD MAPPING</a>
        <a href="{% url 'display_claims_results' %}" class="display-claims-results">→</a>

    </div> -->

    {% include 'myapp/navbar2.html' %}
    <br>
    <br>
    <br>
    <h1 class="pt-5">Upload Claims Data Files</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    
    <form method="post" enctype="multipart/form-data" action="{% url 'claims_file_upload' %}" id="claimsForm">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <div class="form-errors">
                Please correct the following errors: {{ form.errors }}
            </div>
        {% endif %}
        <button type="submit">Merge and Upload Files</button>

        {% if is_merged %}
            <br>
            <fieldset class="uploaded-files-info">
                <legend>Uploaded Files Information</legend>
                <p>Number of files merged: {{ file_details|length }}</p>
                <p>Total number of entries: {{ total_entries }}</p>
                <p>File names and entries:</p>
                <ul>
                    {% for file in file_details %}
                    <li>{{ file.name }} - {{ file.entries }} entries</li>
                    {% endfor %}
                </ul>
            </fieldset>
            {% comment %} <fieldset>
                <div>
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="startDate">
                </div>
                <div>
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate">
                </div>
            </fieldset> {% endcomment %}
            <fieldset>
                <legend>Is claimId available?</legend>
                <div class="radio-container">
                <label>
                    <input type="radio" name="claimId_available" value="yes" id="claimIdYes">
                    Yes
                </label>
                <label>
                    <input type="radio" name="claimId_available" value="no" id="claimIdNo" checked>
                    No
                </label>
                <div>
            </fieldset>

            <!-- Fields for Yes and No options -->
            <!-- Make sure to include them within the form so they are submitted properly -->

            <div id="fieldsForYes" style="display: none;">
                <label>ClaimID:
                    <select name="CLAIMID">
                        {% for column in columns %}
                            <option value="{{ column }}" >{{ column }}</option>
                        {% endfor %}
                    </select>
                </label>

                <p>UID SELECTION</p>
                <div class="radio-container">
                <label><input type="radio" name="selection" value="yes" onclick="toggleDisplay_yes(true)"> Yes</label>
                <label><input type="radio" name="selection" value="no" onclick="toggleDisplay_yes(false)"> No</label>
                </div>

                <!-- Section for UID selection, initially hidden -->
                <div id="uidSection_yes" style="display: none;">
                    <p>UID:</p>
                    <select name="UID1">
                        <!-- Dynamically generated options from the server -->
                        {% for column in columns %}
                            <option value="{{ column }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>

                <!-- Section for selecting two columns, initially hidden -->
                <div id="twoColumnsSection_yes" style="display: none;">
                    <p>SELECT COLUMNS FOR UID:</p>
                    <input type="text" id="search_input_two_columns" list="unique_values_datalist_two_columns" placeholder="Search and select a value...">
                    <datalist id="unique_values_datalist_two_columns">
                        <!-- Options will be dynamically added by JavaScript -->
                    </datalist>

                    <!-- Container for selected values -->
                    <div id="selected_values_container_two_columns"></div>
                </div>


                {% comment %} UID:
                <select name="UID1">
                    {% for column in columns %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
                <br> {% endcomment %}


                LOSS DATE:
                <select name="LOSS_DATE1">
                    
                    {% for column in columns %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
                <br>
                CLAIM TYPE:
                <select name="CLAIM_TYPE1">
                    
                    {% for column in columns %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
                {% comment %} <br>
                CLAIM AMOUNT:
                <select name="CLAIM_AMOUNT1">
                    
                    {% for column in columns %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
                <br> {% endcomment %}
                <br>
                CLAIM AMOUNT 1:
                <select name="CLAIM_AMOUNT11">
                    {% for column in columns %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
                <br>
                Operator:
                <select name="OPERATOR">
                    <option value="+">+</option>
                    <option value="-">-</option>
                </select>
                <br>
                CLAIM AMOUNT 2:
                <select name="CLAIM_AMOUNT22">
                    {% comment %} <option value="None" selected>{{'None'}}</option> {% endcomment %}
                    {% for column in columns %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="date_separator">Choose a date separator:</label>
                <select id="date_separator" name="date_separator" onchange="updateDateFormats();">
                    <option value="-">Dash (-)</option>
                    <option value="/">Slash (/)</option>
                </select>

                <!-- HTML for selecting date format -->
                <label for="date_format">Choose a date format:</label>
                <select id="date_format" name="date_format">
                    <!-- Options will be populated by JavaScript -->
                </select>
    
    
                <!-- More dropdowns for 'Yes' selection -->
            </div>
            <br>
    
            <div id="fieldsForNo">
                <p>UID SELECTION</p>
                <div class="radio-container">
                <label><input type="radio" name="selection" value="yes" onclick="toggleDisplay(true)"> Yes</label>
                <label><input type="radio" name="selection" value="no" onclick="toggleDisplay(false)"> No</label>
                </div>

                <!-- Section for UID selection, initially hidden -->
                <div id="uidSection" style="display: none;">
                    <p>UID:</p>
                    <select name="UID">
                        <!-- Dynamically generated options from the server -->
                        {% for column in columns %}
                            <option value="{{ column }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>

                <!-- Section for selecting two columns, initially hidden -->
                <div id="twoColumnsSection" style="display: none;">
                    <p>SELECT COLUMNS FOR UID:</p>
                    <input type="text" id="search_input_two_columns" list="unique_values_datalist_two_columns" placeholder="Search and select a value...">
                    <datalist id="unique_values_datalist_two_columns">
                        <!-- Options will be dynamically added by JavaScript -->
                    </datalist>

                    <!-- Container for selected values -->
                    <div id="selected_values_container_two_columns"></div>

                    <!-- A hidden div for showing a loading indicator (optional) -->
                    <div id="loading_two_columns" style="display: none;">Loading...</div>

                    <!-- Include CSRF token in the template for POST requests -->
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>

                <br>
                LOSS DATE:
                <select name="LOSS_DATE">
                    {% for column in columns %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
                <br>
                CLAIM TYPE:
                <select name="CLAIM_TYPE">
                    {% for column in columns %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
                <br>
                CLAIM AMOUNT 1:
                <select name="CLAIM_AMOUNT1">
                    {% for column in columns %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
                <br>
                OPERATOR:
                <select name="OPERATOR1">
                        {% comment %} <option value="None" selected>{{'None'}}</option> {% endcomment %}
                        <option value="+">{{'+'}}</option>
                        <option value="-">{{'-'}}</option>
                </select>
                <br>
                CLAIM AMOUNT 2:
                <select name="CLAIM_AMOUNT2">
                    {% comment %} <option value="None" selected>{{'None'}}</option> {% endcomment %}
                    {% for column in columns %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
                <br>

                <!-- More dropdowns for 'No' selection -->
                <label for="date_separator">Choose a date separator:</label>
                <select id="date_separator" name="date_separator" onchange="updateDateFormats();">
                    <option value="-">Dash (-)</option>
                    <option value="/">Slash (/)</option>
                </select>

                <!-- HTML for selecting date format -->
                <label for="date_format">Choose a date format:</label>
                <select id="date_format" name="date_format">
                    <!-- Options will be populated by JavaScript -->
                </select>
                <fieldset>
                    <legend>Choose GroupBy Format:</legend>
                    <label>
                        <input type="radio" id="UL" name="identifier_format" value="UL" checked>
                        GroupBy Using: UID & LossDate
                    </label>
                    <label>
                        <input type="radio" id="ULC" name="identifier_format" value="ULC">
                        GroupBy Using: UID & LossDate & ClaimType
                    </label>
                </fieldset>
            </div>
            <button type="submit" id="processDataButton" name="submit_type" value="process_data">Process Data</button>
        {% endif %}
    </form>

    {% if data_processed %}
        <p>Data has been processed successfully!</p>
        <a href="{% url 'download_processed_data' %}">Download Processed Data</a>
    {% endif %}

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    
    <script>
        function toggleDisplay_yes(isYesSelected) {
            // Display the UID dropdown if "Yes" is selected
            document.getElementById('uidSection_yes').style.display = isYesSelected ? 'block' : 'none';
            // Display the two columns selection if "No" is selected
            document.getElementById('twoColumnsSection_yes').style.display = isYesSelected ? 'none' : 'block';
        }

        function toggleDisplay(isYesSelected) {
            // Display the UID dropdown if "Yes" is selected
            document.getElementById('uidSection').style.display = isYesSelected ? 'block' : 'none';
            // Display the two columns selection if "No" is selected
            document.getElementById('twoColumnsSection').style.display = isYesSelected ? 'none' : 'block';
        }
        function fetchColumnData() {
            const loadingElement = document.getElementById('loading_two_columns');
            const dataList = document.getElementById('unique_values_datalist_two_columns');
        
            // Show loading message
            loadingElement.style.display = 'block';
        
            // Fetch the unique values from the server
            fetch(`/myapp/get_columns/`) // The URL to your Django view that returns column values
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Populate the datalist with the column data
                    dataList.innerHTML = "";
                    data.columns.forEach(value => {
                        let option = document.createElement("option");
                        option.value = value;
                        dataList.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error("Error fetching column data:", error);
                })
                .finally(() => {
                    // Hide loading message
                    loadingElement.style.display = 'none';
                });
        }
        
        // Function to handle the update of selected values
        document.addEventListener("DOMContentLoaded", function() {
            fetchColumnData(); // Assuming this function populates the datalist options
        
            const searchInput = document.getElementById("search_input_two_columns");
            const dataList = document.getElementById("unique_values_datalist_two_columns");
            const selectedValuesContainer = document.getElementById("selected_values_container_two_columns");
        
            searchInput.addEventListener("input", function(event) {
                let inputValue = event.target.value.trim();
        
                // Check if the inputValue matches any of the datalist options
                let isOptionMatch = Array.from(dataList.options).some(option => option.value === inputValue);
        
                // Only add if it's a matching option and not already selected
                if (inputValue && isOptionMatch && !document.querySelector(`[data-value="${inputValue}"]`)) {
                    let div = document.createElement("div");
                    div.setAttribute("class", "selected-value");
                    div.setAttribute("data-value", inputValue);
                    div.textContent = inputValue + " (Click to remove)";
                    div.addEventListener("click", function() {
                        this.remove();
                        updateSelectedValues(); // Update selected values after removal
                    });
                    selectedValuesContainer.appendChild(div);
                    updateSelectedValues(); // Update selected values after adding a new item
                    searchInput.value = ""; // Clear the input for a new selection
                }
            });
        });
        
        function updateSelectedValues() {
            let selectedDivs = document.querySelectorAll("#selected_values_container_two_columns .selected-value");
            let selectedValues = Array.from(selectedDivs).map(div => div.getAttribute("data-value"));
            console.log("Selected Values:", selectedValues);
            // Additional code to handle the selected values can be added here
            fetch(`/myapp/handle_selected_values/`, { // Update this URL
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector("[name=csrfmiddlewaretoken]").value
                },
                body: JSON.stringify({ 'selectedValues': selectedValues })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data); // Handle response data from the server
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
        
        // Call this function when you need to clear the inner HTML of the div
        
        // Show or hide fields based on claimId radio selection
        document.getElementById('claimIdYes').addEventListener('change', function() {
            document.getElementById('fieldsForYes').style.display = 'block';
            document.getElementById('fieldsForNo').style.display = 'none';
            
        });

        document.getElementById('claimIdNo').addEventListener('change', function() {
            document.getElementById('fieldsForYes').style.display = 'none';
            document.getElementById('fieldsForNo').style.display = 'block';
            
        });

        // Change the form action when the 'Process Data' button is clicked
        document.getElementById('processDataButton').addEventListener('click', function(event) {
            event.preventDefault();  // Prevent the default form submit
            var form = document.getElementById('claimsForm');
            form.action = "{% url 'process_claims_data' %}";
            form.submit();
        });
        function updateDateFormats() {
            var separators = document.getElementsByName('date_separator');
            separators.forEach(function(separatorSelect) {
                var separator = separatorSelect.value;
                var dateFormatSelect = separatorSelect.closest('div').querySelector('[name="date_format"]');
                dateFormatSelect.innerHTML = ''; // Clear existing options
                
                var formats = [
                    'dd' + separator + 'mm' + separator + 'yy',
                    'mm' + separator + 'dd' + separator + 'yy',
                    'dd' + separator + 'mm' + separator + 'yyyy',
                    'mm' + separator + 'dd' + separator + 'yyyy',
                    'yy' + separator + 'mm' + separator + 'dd',
                    'yyyy' + separator + 'mm' + separator + 'dd'
                ];
                
                formats.forEach(function(format) {
                    var option = document.createElement('option');
                    option.value = format;
                    option.text = format.toUpperCase();
                    dateFormatSelect.appendChild(option);
                });
            });
        }
        
        window.onload = function() {
            updateDateFormats();
            // Any other page initialization code
        };
        
        

    </script>
</body>




</html>