<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Mapping File</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'MappingData.css' %}">
    
</head>
<body>

    {% include 'myapp/navbar2.html' %}
    <br>
    <h1 class="pt-5 mt-5">Upload Mapping File</h1>
    <div class="loader-container" id="loader">
        <div class="loader"></div>
    </div>
    <form method="post" enctype="multipart/form-data" id="uploadForm">
        <fieldset class="horizontal-group">
            <div>
                <legend>Mapping Excel File</legend>
                <input type="file" name="excel_file" required>
            </div>
        </fieldset>
        <button type="button" onclick="submitFiles()">Upload Files</button>

        <fieldset class="hidden" id="mappingSection">
            <div>
                <h2>Define Number of Mappings:</h2>
                <div class="horizontal-group">
                    <input type="number" id="numMappings" name="numMappings" min="1" max="10">
                    <button type="button" onclick="generateDropdowns()">Generate Dropdowns</button>
                </div>
            </div>
        </fieldset>

        <div id="dropdownArea"></div>
        <button type="button" id="processButton" onclick="processData()">Process Data</button>
    </form>


    

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    
    <script>
        function processData() {
            var mappings = collectMappings();
            var formData = new FormData(document.getElementById('uploadForm'));  
            formData.append('mappings', JSON.stringify(mappings));
            const loadingElement = document.getElementById('loader');
            if (loadingElement) loadingElement.style.display = 'block';

            fetch('/myapp/process_mapping_data/', {
                method: 'POST',
                body: formData,
                headers: {
                    "X-CSRFToken": getCookie('csrftoken')
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to process data: ' + response.statusText);
                }
                return response.blob();
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'updated_premium_file.csv';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                alert('File download should begin shortly.');
            })
            .catch(error => {
                console.error('Error processing data:', error);
                alert('Error processing data: ' + error.message);
            })
            .finally(() => {
                if (loadingElement) loadingElement.style.display = 'none';
            });
        }
        
        
    
        function collectMappings() {
            var numMappings = document.getElementById('numMappings').value;
            var mappings = [];
            for (var i = 1; i <= numMappings; i++) {
                var sheetName = document.getElementById(`excelSheet${i}`).value;
                var columnName = document.getElementById(`premiumColumn${i}`).value;
                mappings.push({sheetName, columnName});
            }
            return mappings;
        }
    
        function submitFiles() {
            document.getElementById('mappingSection').classList.remove('hidden');
            const loadingElement = document.getElementById('loader');
            if (loadingElement) loadingElement.style.display = 'block';
            var form = document.getElementById('uploadForm');
            var formData = new FormData(form);
            var csrftoken = getCookie('csrftoken');

            fetch('/myapp/fetch_column_data/', {
                method: 'POST',
                body: formData,
                headers: {
                    "X-CSRFToken": csrftoken
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok: ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                displayAndSetupMappingSection();
                console.log("Received data:", data);
                window.sessionStorage.setItem('premiumColumns', JSON.stringify(data.premium_columns));
                window.sessionStorage.setItem('excelColumns', JSON.stringify(data.excel_columns));
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error uploading files: ' + error.message);
            })
            .finally(() => {
                if (loadingElement) loadingElement.style.display = 'none';
            });
        }
    
        function displayAndSetupMappingSection() {
            document.getElementById('mappingSection').style.display = 'block';
            generateDropdowns();
        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
    
        function generateDropdowns() {
            var numMappings = document.getElementById('numMappings').value;
            var container = document.getElementById('dropdownArea');
            var premiumColumns = JSON.parse(window.sessionStorage.getItem('premiumColumns'));
            var excelColumns = JSON.parse(window.sessionStorage.getItem('excelColumns'));
        
            // Start with an empty table each time
            container.innerHTML = '<table><thead><tr><th>#</th><th>Premium Column</th><th>Excel Sheet</th></tr></thead><tbody></tbody></table>';
            var tableBody = container.querySelector('tbody');
        
            for (var i = 1; i <= numMappings; i++) {
                var row = document.createElement('tr');
                row.innerHTML = `
                    <td>${i}</td>
                    <td><select id="premiumColumn${i}"></select></td>
                    <td><select id="excelSheet${i}"></select></td>
                `;
                tableBody.appendChild(row);
        
                populateDropdown(`premiumColumn${i}`, premiumColumns);
                populateDropdown(`excelSheet${i}`, excelColumns);
            }
        }
        
        function populateDropdown(dropdownId, options) {
            var select = document.getElementById(dropdownId);
            select.innerHTML = ''; // Clear existing options first
            options.forEach(option => {
                var opt = new Option(option, option);
                select.appendChild(opt);
            });
        }
        
    
        
    </script>
    
</body>
</html>
